body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

div {
    padding: 20px 40px 20px 40px;
}

h6 {
    margin-bottom: 0px;
}

h1 {
    margin: 5px 0px 5px 0px;
}

h5 {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-content: stretch;
}

.flex div {
    width: 250px;
    max-width: 80%;
    margin: 20px 10px 10px 10px;
    flex-grow: 1;
}

.flex h3 {
    flex-grow: 1;
    padding: 0px 20px 0px 20px;
    text-align: center;
    border: 1px #F0F0DF solid;
    border-radius: 20px;
    background-color: rgba(240, 240, 223, 0.2);
    margin: 0px 10px 20px 10px;
}

.flex-card {
    background-color: rgba(240, 240, 223, 0.4);
}

.flex img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.card {
    width: 95%;
    background-color: rgba(240, 240, 223, 0.4);
    padding: 2.5%;
    margin: 2.5% 0 2.5% 0;
}

.ul {
    border-bottom: 3px solid;
}

.black {
    background: linear-gradient(#3F5866, #2B3A42);
    color: #F0F0DF;
}

.white {
    background-color: #BDD3DE;
    color: #2B3A42;
}

.black b,
.black em {
    color: #BDD3DE;
    transition: color 1s;
}

.black b:hover,
.black em:hover {
    color: #F0F0DF;
}

.bot300 {
    margin-bottom: 300px;
}

.bot200 {
    margin-bottom: 200px;
}

.bot100 {
    margin-bottom: 100px;
}

.black .outline {
    border: 3px #F0F0DF solid;
    border-radius: 20px;
    background-color: rgba(240, 240, 223, 0.2);
}