<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>connorAhearn</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://connorahearn.github.io/css/style.css">
</head>

<body>

    {{{body}}}

    <!-- Footer -->
    <div class="white">
        <p class="bot100"></p>
        <h1><span class="ul">Links</span></h1>
        <div class="flex">
            <div class="flex-card">
                <h2><a href="/">Home Page</a></h2>
            </div>
            <div class="flex-card">
                <h2><a href="/work">Work Experience</a></h2>
            </div>
            <div class="flex-card">
                <h2><a href="/education">Technical Skills & Education</a></h2>
            </div>
            <div class="flex-card">
                <h2><a href="/projects">Personal Projects</a></h2>
            </div>
        </div>
    </div>
</body>

</html>